#banner{
    margin-right: 20px;
}
#title {
  width: 75%;
  padding: 0 70px;
  font-family: "EB Garamond";
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  margin-bottom: 20px;
}

.description {
  width: 55%;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #e7e7e7;
  margin-bottom: 30px;
}
#search {
  width: 500px;
  height: 50px;
  margin-right: 20px;
  padding-left: 20px;

}
#button{
    padding: 0 30px;
}



/* -------------
first section 
-----------------*/

.first-section{
    margin-top: 80px;
    
}
.section-title{
    font-family: 'EB Garamond';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 52px;
}
.description-2 {
    width: 57%;
    font-family: "Poppins";
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 225px;
    
  }

.gradient{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
border: 1px solid #E7E7E7;
}

.logo{
    width: 20%;
}
.logo-2{
    width: 16%;
}




/* ----------
Second section slider
--------------*/

.me{
  width: 15% ;
}
.my-bio{
  padding-bottom: 140px;
}
.name{
  padding-bottom: 30px;
}

.descript{
  width: 100%;
 margin-top: 20px ;
 
}






@media screen and (max-width: 576px) {

    #banner{
        margin-right: 50px;
    }
  #title {
    width: 85%;
    padding: 0;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .description {
    width: 97%;
    font-size: 9px;
    line-height: 14px;
    margin-bottom: 8px;
  }
  #search {
    width: 150px;
    height: 27px;
    font-size: 9px;
    margin-right: 5px;
    margin-left: 28px;
  }
  #button {
    height: 27px;
    width: 60px;
    font-size: 11px;
    padding: 0;
    border: none;
  }

.first-section{
    margin-top: 50px;
}


.section-title {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
}

.description-2 {
    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 0;
}

.me{
  width: 40% ;
}
.my-bio{
  padding-bottom: 40px;
}
 
.descript{
  width: 100%;
 margin: 0px ;
 padding-top: 10px;

}



#faq{
  width: 100%;
}




}
